html, body {
	height: 100%;
	margin: 0;
	background-color: #FDFDFD;
	font-family: sans-serif;
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.item {
	max-width: 75%;
}
